
.product-item{
    display: flex; 
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 20px;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    padding: 10px; /* Optional: Add padding for spacing */
    border-radius: 8px; /* Optional: Add rounded corners for a modern look */
    background-color: #fff; /* Optional: Ensure a consistent background */
}

@media screen and (min-width:768px){
    .product-item{
        align-items: flex-start;
    }
}

.stone-image{
    width: 250px;
}
.stone-name{
    font-family: "Roboto"; 
    font-size: 20px; 
    font-weight: 700; 
    color: #000;
    text-align: left;
}
.stone-price{
    font-family: "Roboto"; 
    font-size: 20px; 
    font-weight: 700; 
    color: #3f3e3e;
    text-align: left;
}